In [23]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.iolib.summary2 import summary_col

In [18]:
# Забираем датасет, предобработанный для проведения регрессионного анализа
!wget https://nc.cloud.cpur.ru/s/zAaYy5EDMySndAC/download/declarations_for_regression.xlsx

--2021-11-30 10:59:13--  https://nc.cloud.cpur.ru/s/zAaYy5EDMySndAC/download/declarations_for_regression.xlsx
Resolving nc.cloud.cpur.ru (nc.cloud.cpur.ru)... 84.201.157.40
Connecting to nc.cloud.cpur.ru (nc.cloud.cpur.ru)|84.201.157.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 774872 (757K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘declarations_for_regression.xlsx’

declarations_for_re 100%[===================>] 756.71K  1.05MB/s    in 0.7s

2021-11-30 10:59:15 (1.05 MB/s) - ‘declarations_for_regression.xlsx’ saved [774872/774872]

In [19]:
servants = pd.read_excel('declarations_for_regression.xlsx')
len(servants)

In [21]:
servants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17223 entries, 0 to 17222
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        17223 non-null  int64
 1   name                              17223 non-null  object
 2   position_standard                 17223 non-null  object
 3   gender                            17223 non-null  object
 4   married                           17223 non-null  object
 5   year                              17223 non-null  int64
 6   state_agency_short                17223 non-null  object
 7   children                          17223 non-null  int64
 8   income_diff_month_const_чиновник  17223 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 1.2+ MB

In [25]:
# создаем переменную: наличине несоврешеннолетних детей
servants['if_children'] = np.where(servants['children'] == 0, 'no', 'yes')

In [26]:
#согарифмируем месячный доход чиноников
servants['log_income_diff'] = np.log(servants['income_diff_month_const_чиновник'])

In [28]:
# создаем категориальные переменнуые года и количества детей
servants['year_cat'] = servants['year'].astype(str)

## 1. Регрессия на данных всех министерств
Последовательно добавляем объясняющие переменные

In [37]:
# только пол
mdl_g = ols('log_income_diff ~ gender', data=servants).fit()
pprint(mdl_g.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        log_income_diff   R-squared:                       0.015
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     266.7
Date:                Tue, 30 Nov 2021   Prob (F-statistic):           1.65e-59
Time:                        11:13:43   Log-Likelihood:                -14913.
No. Observations:               17223   AIC:                         2.983e+04
Df Residuals:                   17221   BIC:                         2.985e+04
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      12.1331      0.006   1898.593      0.000      12.121      12.146
gender[T.m]     0.1434      0.009     16.331      0.000       0.126       0.161
==============================================================================
Omnibus:                     2898.956   Durbin-Watson:                   1.147
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5227.483
Skew:                           1.074   Prob(JB):                         0.00
Kurtosis:                       4.635   Cond. No.                         2.69
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [38]:
# пол и семейный статус
mdl_g_m = ols('log_income_diff ~ gender + married', data=servants).fit()
pprint(mdl_g_m.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        log_income_diff   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     162.1
Date:                Tue, 30 Nov 2021   Prob (F-statistic):           1.84e-70
Time:                        11:13:43   Log-Likelihood:                -14885.
No. Observations:               17223   AIC:                         2.978e+04
Df Residuals:                   17220   BIC:                         2.980e+04
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         12.1041      0.007   1624.908      0.000      12.090      12.119
gender[T.m]        0.1212      0.009     13.108      0.000       0.103       0.139
married[T.yes]     0.0703      0.009      7.522      0.000       0.052       0.089
==============================================================================
Omnibus:                     2902.343   Durbin-Watson:                   1.149
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5242.779
Skew:                           1.074   Prob(JB):                         0.00
Kurtosis:                       4.641   Cond. No.                         3.25
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [39]:
# Добавляем наличие детей
mdl_g_m_ch = ols('log_income_diff ~ gender + married + if_children', data=servants).fit()
pprint(mdl_g_m_ch.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        log_income_diff   R-squared:                       0.020
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     114.9
Date:                Tue, 30 Nov 2021   Prob (F-statistic):           1.07e-73
Time:                        11:13:44   Log-Likelihood:                -14875.
No. Observations:               17223   AIC:                         2.976e+04
Df Residuals:                   17219   BIC:                         2.979e+04
Df Model:                           3
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             12.0961      0.008   1580.183      0.000      12.081      12.111
gender[T.m]            0.1151      0.009     12.318      0.000       0.097       0.133
married[T.yes]         0.0582      0.010      5.989      0.000       0.039       0.077
if_children[T.yes]     0.0426      0.009      4.506      0.000       0.024       0.061
==============================================================================
Omnibus:                     2846.053   Durbin-Watson:                   1.148
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5093.687
Skew:                           1.060   Prob(JB):                         0.00
Kurtosis:                       4.614   Cond. No.                         3.57
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [40]:
# добавляем министерство
mdl_g_m_ch_st = ols('log_income_diff ~ gender + married + if_children + state_agency_short', data=servants).fit()
pprint(mdl_g_m_ch_st.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        log_income_diff   R-squared:                       0.095
Model:                            OLS   Adj. R-squared:                  0.094
Method:                 Least Squares   F-statistic:                     99.85
Date:                Tue, 30 Nov 2021   Prob (F-statistic):               0.00
Time:                        11:13:44   Log-Likelihood:                -14190.
No. Observations:               17223   AIC:                         2.842e+04
Df Residuals:                   17204   BIC:                         2.856e+04
Df Model:                          18
Covariance Type:            nonrobust
===========================================================================================================
                                              coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
Intercept                                  11.8835      0.021    562.732      0.000      11.842      11.925
gender[T.m]                                 0.1384      0.009     15.208      0.000       0.121       0.156
married[T.yes]                              0.0464      0.009      4.924      0.000       0.028       0.065
if_children[T.yes]                          0.0538      0.009      5.876      0.000       0.036       0.072
state_agency_short[T.Минздрав]              0.2561      0.026      9.773      0.000       0.205       0.308
state_agency_short[T.Минкультуры]           0.0243      0.029      0.841      0.400      -0.032       0.081
state_agency_short[T.Минобр]                0.0828      0.029      2.890      0.004       0.027       0.139
state_agency_short[T.Минприроды]            0.1620      0.028      5.733      0.000       0.107       0.217
state_agency_short[T.Минпромторг]           0.1065      0.024      4.529      0.000       0.060       0.153
state_agency_short[T.Минсельхоз]            0.0872      0.026      3.336      0.001       0.036       0.138
state_agency_short[T.Минспорт]              0.2049      0.030      6.803      0.000       0.146       0.264
state_agency_short[T.Минстрой]              0.2462      0.036      6.752      0.000       0.175       0.318
state_agency_short[T.Минтранс]              0.1102      0.027      4.078      0.000       0.057       0.163
state_agency_short[T.Минтруд]               0.2350      0.028      8.281      0.000       0.179       0.291
state_agency_short[T.Минфин]                0.5710      0.024     24.284      0.000       0.525       0.617
state_agency_short[T.Минцифры]              0.0330      0.028      1.181      0.237      -0.022       0.088
state_agency_short[T.Минэкономразвития]     0.2685      0.023     11.629      0.000       0.223       0.314
state_agency_short[T.Минэнерго]             0.1279      0.029      4.480      0.000       0.072       0.184
state_agency_short[T.Минюст]                0.1821      0.026      7.017      0.000       0.131       0.233
==============================================================================
Omnibus:                     3068.225   Durbin-Watson:                   1.198
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5743.136
Skew:                           1.111   Prob(JB):                         0.00
Kurtosis:                       4.750   Cond. No.                         28.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [41]:
# добавляем год
mdl_g_m_ch_st_y = ols('log_income_diff ~ gender + married + if_children + state_agency_short + year_cat', data=servants).fit()
pprint(mdl_g_m_ch_st_y.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        log_income_diff   R-squared:                       0.113
Model:                            OLS   Adj. R-squared:                  0.112
Method:                 Least Squares   F-statistic:                     87.76
Date:                Tue, 30 Nov 2021   Prob (F-statistic):               0.00
Time:                        11:13:44   Log-Likelihood:                -14011.
No. Observations:               17223   AIC:                         2.807e+04
Df Residuals:                   17197   BIC:                         2.828e+04
Df Model:                          25
Covariance Type:            nonrobust
===========================================================================================================
                                              coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
Intercept                                  11.9541      0.025    481.363      0.000      11.905      12.003
gender[T.m]                                 0.1392      0.009     15.441      0.000       0.122       0.157
married[T.yes]                              0.0452      0.009      4.830      0.000       0.027       0.064
if_children[T.yes]                          0.0524      0.009      5.765      0.000       0.035       0.070
state_agency_short[T.Минздрав]              0.2541      0.026      9.783      0.000       0.203       0.305
state_agency_short[T.Минкультуры]           0.0229      0.029      0.800      0.424      -0.033       0.079
state_agency_short[T.Минобр]                0.1213      0.029      4.226      0.000       0.065       0.178
state_agency_short[T.Минприроды]            0.1550      0.028      5.531      0.000       0.100       0.210
state_agency_short[T.Минпромторг]           0.0989      0.023      4.247      0.000       0.053       0.145
state_agency_short[T.Минсельхоз]            0.0789      0.026      3.045      0.002       0.028       0.130
state_agency_short[T.Минспорт]              0.2054      0.030      6.884      0.000       0.147       0.264
state_agency_short[T.Минстрой]              0.2425      0.036      6.711      0.000       0.172       0.313
state_agency_short[T.Минтранс]              0.1064      0.027      3.978      0.000       0.054       0.159
state_agency_short[T.Минтруд]               0.2322      0.028      8.259      0.000       0.177       0.287
state_agency_short[T.Минфин]                0.5685      0.023     24.403      0.000       0.523       0.614
state_agency_short[T.Минцифры]              0.0289      0.028      1.045      0.296      -0.025       0.083
state_agency_short[T.Минэкономразвития]     0.2951      0.023     12.859      0.000       0.250       0.340
state_agency_short[T.Минэнерго]             0.1239      0.028      4.381      0.000       0.068       0.179
state_agency_short[T.Минюст]                0.1786      0.026      6.946      0.000       0.128       0.229
year_cat[T.2014]                            0.0090      0.019      0.482      0.630      -0.027       0.045
year_cat[T.2015]                           -0.1303      0.018     -7.308      0.000      -0.165      -0.095
year_cat[T.2016]                           -0.1531      0.018     -8.604      0.000      -0.188      -0.118
year_cat[T.2017]                           -0.1536      0.018     -8.723      0.000      -0.188      -0.119
year_cat[T.2018]                           -0.1402      0.018     -7.882      0.000      -0.175      -0.105
year_cat[T.2019]                            0.0059      0.018      0.328      0.743      -0.029       0.041
year_cat[T.2020]                            0.0387      0.018      2.149      0.032       0.003       0.074
==============================================================================
Omnibus:                     3210.079   Durbin-Watson:                   1.179
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6190.392
Skew:                           1.143   Prob(JB):                         0.00
Kurtosis:                       4.843   Cond. No.                         29.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [42]:
# добавляем должность
mdl_g_m_ch_st_y_pos = ols('log_income_diff ~ gender + married + if_children + state_agency_short + year_cat + position_standard', data=servants).fit()
pprint(mdl_g_m_ch_st_y_pos.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        log_income_diff   R-squared:                       0.513
Model:                            OLS   Adj. R-squared:                  0.512
Method:                 Least Squares   F-statistic:                     583.9
Date:                Tue, 30 Nov 2021   Prob (F-statistic):               0.00
Time:                        11:13:45   Log-Likelihood:                -8851.7
No. Observations:               17223   AIC:                         1.777e+04
Df Residuals:                   17191   BIC:                         1.802e+04
Df Model:                          31
Covariance Type:            nonrobust
===========================================================================================================================
                                                              coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
Intercept                                                  12.8835      0.022    588.461      0.000      12.841      12.926
gender[T.m]                                                 0.0015      0.007      0.219      0.826      -0.012       0.015
married[T.yes]                                              0.0194      0.007      2.787      0.005       0.006       0.033
if_children[T.yes]                                         -0.0087      0.007     -1.284      0.199      -0.022       0.005
state_agency_short[T.Минздрав]                              0.0161      0.020      0.820      0.412      -0.022       0.054
state_agency_short[T.Минкультуры]                          -0.1705      0.021     -7.982      0.000      -0.212      -0.129
state_agency_short[T.Минобр]                                0.0144      0.021      0.674      0.500      -0.027       0.056
state_agency_short[T.Минприроды]                            0.0099      0.021      0.469      0.639      -0.031       0.051
state_agency_short[T.Минпромторг]                          -0.0078      0.018     -0.446      0.656      -0.042       0.027
state_agency_short[T.Минсельхоз]                           -0.0949      0.020     -4.864      0.000      -0.133      -0.057
state_agency_short[T.Минспорт]                              0.0021      0.023      0.093      0.926      -0.042       0.046
state_agency_short[T.Минстрой]                             -0.1876      0.027     -6.884      0.000      -0.241      -0.134
state_agency_short[T.Минтранс]                             -0.0791      0.020     -3.911      0.000      -0.119      -0.039
state_agency_short[T.Минтруд]                              -0.0639      0.021     -3.007      0.003      -0.106      -0.022
state_agency_short[T.Минфин]                                0.4948      0.017     28.331      0.000       0.461       0.529
state_agency_short[T.Минцифры]                             -0.2351      0.021    -11.261      0.000      -0.276      -0.194
state_agency_short[T.Минэкономразвития]                     0.2672      0.017     15.630      0.000       0.234       0.301
state_agency_short[T.Минэнерго]                            -0.0785      0.021     -3.689      0.000      -0.120      -0.037
state_agency_short[T.Минюст]                                0.0661      0.019      3.448      0.001       0.029       0.104
year_cat[T.2014]                                           -0.0111      0.014     -0.804      0.421      -0.038       0.016
year_cat[T.2015]                                           -0.1486      0.013    -11.247      0.000      -0.175      -0.123
year_cat[T.2016]                                           -0.1650      0.013    -12.509      0.000      -0.191      -0.139
year_cat[T.2017]                                           -0.1712      0.013    -13.106      0.000      -0.197      -0.146
year_cat[T.2018]                                           -0.1470      0.013    -11.141      0.000      -0.173      -0.121
year_cat[T.2019]                                           -0.0020      0.013     -0.153      0.878      -0.028       0.024
year_cat[T.2020]                                            0.0044      0.013      0.331      0.741      -0.022       0.031
position_standard[T.заместитель директора департамента]    -0.4740      0.012    -39.183      0.000      -0.498      -0.450
position_standard[T.заместитель федерального министра]      0.5288      0.020     26.327      0.000       0.489       0.568
position_standard[T.начальник отдела]                      -0.9056      0.012    -76.973      0.000      -0.929      -0.883
position_standard[T.помощник федерального министра]        -0.3063      0.025    -12.050      0.000      -0.356      -0.256
position_standard[T.референт]                              -1.1020      0.014    -77.945      0.000      -1.130      -1.074
position_standard[T.советник федерального министра]        -0.3055      0.025    -12.384      0.000      -0.354      -0.257
==============================================================================
Omnibus:                     5892.096   Durbin-Watson:                   1.604
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            28405.673
Skew:                           1.595   Prob(JB):                         0.00
Kurtosis:                       8.422   Cond. No.                         31.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Формируем общую таблицу с результатами регрессии на всех данных

In [43]:
res_table_all = summary_col([mdl_g, mdl_g_m, mdl_g_m_ch, mdl_g_m_ch_st, mdl_g_m_ch_st_y, mdl_g_m_ch_st_y_pos], 
                            stars=True,float_format='%0.3f', info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.3f}".format(x.rsquared)},
                             model_names=['(1)','(2)','(3)', '(4)', '(5)', '(6)'])

In [44]:
res_table_all.tables[0]

                          (1)        (2)  ...        (5)        (6)
Intercept           12.133***  12.104***  ...  11.954***  12.884***
                      (0.006)    (0.007)  ...    (0.025)    (0.022)
gender[T.m]          0.143***   0.121***  ...   0.139***      0.001
                      (0.009)    (0.009)  ...    (0.009)    (0.007)
if_children[T.yes]                        ...   0.052***     -0.009
...                       ...        ...  ...        ...        ...
                                          ...    (0.018)    (0.013)
year_cat[T.2020]                          ...    0.039**      0.004
                                          ...    (0.018)    (0.013)
N                       17223      17223  ...      17223      17223
R2                      0.015      0.018  ...      0.113      0.513

[66 rows x 6 columns]

## 2. Регрессия групп министерств

In [104]:
# функция для последовательного добавления объясняющих переменных
# и формирования общей таблицы с результатами

def regress(data):
  #Только пол
  mdl_g = ols('log_income_diff ~ gender', data=data).fit()
  #Добавляем семейный статус и наличие детей
  mdl_g_pers = ols('log_income_diff ~ gender + married + if_children', data=data).fit()
  #Добавляем министерство и год
  mdl_g_pers_st = ols('log_income_diff ~ gender + married + if_children + state_agency_short + year_cat', data=data).fit()
  #Добавляем должность
  mdl_full = ols('log_income_diff ~ gender + married + if_children + state_agency_short + year_cat + position_standard', data=data).fit()

  res_table = summary_col([mdl_g, mdl_g_pers, mdl_g_pers_st, mdl_full],
                          stars=True, float_format='%0.3f',
                           info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                                      'R2':lambda x: "{:.3f}".format(x.rsquared)},
                           model_names=['(1)','(2)','(3)', '(4)'])

  result = [res_table, mdl_full]
  return result

### **Группа 4:**

In [48]:
state_list = ['Минкультуры', 'Минстрой', 'Минтруд', 'Минздрав', 'Минсельхоз', 'Минпромторг']
group_4 = servants[servants['state_agency_short'].isin(state_list)]
len(group_4)

6142

**Регрессия без эффекта взаимодействия.
Последовательное добавление переменных**

In [ ]:
res_table_4, mdl_4_no_int_full = regress(group_4)
res_table_4.tables[0]

**Со взаимодействием**

In [ ]:
mdl_g4_full = ols('log_income_diff ~ position_standard + state_agency_short + married + gender + gender*married  + gender*if_children + year_cat', data=group_4).fit()

### **Группа 3:**

In [89]:
state_list = ['Минцифры', 'Минобр', 'Минюст']
group_3 = servants[servants['state_agency_short'].isin(state_list)]
len(group_3)

2711

**Без эффекта взаимодействия**

In [ ]:
res_table_3, mdl_3_no_int_full = regress(group_3)
res_table_3.tables[0]

**Со взаимодействием**

In [96]:
mdl_g3_full = ols('log_income_diff ~ position_standard + state_agency_short + married + gender + gender*married + gender*if_children + year_cat', data=group_3).fit()

### **Группа 1:**

In [71]:
state_list = ['Минэнерго', 'Минфин', 'Минтранс', 'Минприроды']
group_1 = servants[servants['state_agency_short'].isin(state_list)]
len(group_1)

4587

**Без эффекта взаимодействия**

In [ ]:
res_table_1, mdl_1_no_int_full = regress(group_1)
res_table_1.tables[0]

**Со взаимодействием**

In [79]:
mdl_g1_full = ols('log_income_diff ~ position_standard + state_agency_short + married + gender + gender*married + gender*if_children + year_cat', data=group_1).fit()

### **Группа 2:**

In [80]:
state_list = ['Минвостокразвития', 'Минэкономразвития', 'Минспорт']
group_2 = servants[servants['state_agency_short'].isin(state_list)]
len(group_2)

3783

**Без эффекта взаимодействия**

In [ ]:
res_table_2, mdl_2_no_int_full = regress(group_2)
res_table_2.tables[0]

Со взаимодействием

In [103]:
mdl_g2_full = ols('log_income_diff ~ position_standard + state_agency_short + gender + married + gender*married + gender*if_children + year_cat', data=group_2).fit()

**СВОДНАЯ ТАБЛИЦА ПО ВСЕМ ГРУПАМ БЕЗ ВЗАИМОДЕЙСТВИЯ**

In [109]:
res_table_groups_no_int = summary_col([mdl_1_no_int_full, mdl_2_no_int_full, mdl_3_no_int_full,
                                       mdl_4_no_int_full],stars=True, float_format='%0.3f',
                                       info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.3f}".format(x.rsquared)},
                              model_names=['Группа 1', 'Группа 2', 'Группа 3', 'Группа 4'])

In [ ]:
res_table_groups_no_int.tables[0]

**СВОДНАЯ ТАБЛИЦА ПО ВСЕМ ГРУПАМ СО ВЗАИМОДЕЙСТВИЕМ**

In [111]:
res_table_int = summary_col([mdl_g1_full, mdl_g2_full, mdl_g3_full, mdl_g4_full],
                            stars=True, float_format='%0.3f', info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.3f}".format(x.rsquared)}, model_names=['Группа 1', 'Группа 2', 'Группа 3', 'Группа 4'])

In [112]:
res_table_int.tables[0]

                                 Группа 1   Группа 2   Группа 3   Группа 4
Intercept                       13.000***  12.959***  12.851***  12.914***
                                  (0.032)    (0.047)    (0.042)    (0.026)
gender[T.m]                     -0.089***  -0.086***   0.068***   -0.044**
                                  (0.022)    (0.022)    (0.025)    (0.018)
gender[T.m]:if_children[T.yes]      0.006     -0.009      0.042   -0.046**
...                                   ...        ...        ...        ...
                                  (0.023)    (0.039)    (0.036)    (0.021)
year_cat[T.2020]                    0.007  -0.200***      0.027   0.059***
                                  (0.024)    (0.040)    (0.035)    (0.021)
N                                    4587       3783       2711       6142
R2                                  0.588      0.504      0.507      0.464

[64 rows x 4 columns]